.dark_mode {
  background-color: #634f3c;
}

.dark_mode .header_container h1 {
  color: #ffffff;
}

.dark_mode .header_container button {
  color: #ffffff;
}

.dark_mode .main_container div h2 {
  color: #ffffff;
}

.dark_mode .main_container div p {
  color: #ffffff;
}

.light_mode .main_container button {
  background-color: #634f3c;
  color: #ffffff;
}

.header_container {
  width: 100%;
  height: 10vh;
  border-bottom: 1px solid #dcdcdc;
  color: #634f3c;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header_container button {
  font-size: 1.75rem;
  border: 0;
  padding: 12rem;
  cursor: pointer;
  color: #634f3c;
  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;
}

.main_container {
  height: 90vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main_container div {
  max-width: 48rem;
  padding: 2.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2.5rem;
}

.main_container div h2 {
  font-size: 3rem;
  color: #634f3c;
}

.main_container div p {
  line-height: 1.75rem;
  font-style: italic;
}

.main_container div button {
  padding: 1.25rem 2.5rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 2.5rem;
  border: none;
  cursor: pointer;
}